<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.suda.mapper.profileImageUploadMapper">

<!-- 	<update id="profileImageUpload" parameterType="org.sudaPro.web.myPage.vo.MypageVO"   > -->
	<update id="profileImageUpload">
	
		update member set m_picture = #{value}
		where m_code = 1
		 
		
	</update>
	
</mapper>